//colors

$primary: #5784FF;
$secondary: #D1DDFF;

$hl-10: #f0f4ff;
$hl-20: #d1ddff;
$hl-40: #668fff;
$hl-30: #759aff;
$hl-60: #386dff;

$sh-50: #003ee8;
$sh-60: #0038d3;
$sh-70: #0033be;
$sh-80: #002da9;
$sh-90: #00227f;

$black: #000;
$white: #fff;

$gray-10: #f2f4f8;
$gray-20: #dbe1ec;
$gray-30: #c4cddf;
$gray-40: #aebad3;
$gray-50: #97a7c7;
$gray-60: #8094bb;
$gray-70: #6980ae;
$gray-90: #495e88;
$gray-100: #252f44;